In [120]:
import pandas as pd

In [121]:
df = pd.read_csv('Used_Bikes.csv')

In [122]:
df

,bike_name,price,city,kms_driven,owner,age,power,brand
0,TVS Star City Plus Dual Tone 110cc,35000.0,Ahmedabad,17654.0,First Owner,3.0,110.0,TVS
1,Royal Enfield Classic 350cc,119900.0,Delhi,11000.0,First Owner,4.0,350.0,Royal Enfield
2,Triumph Daytona 675R,600000.0,Delhi,110.0,First Owner,8.0,675.0,Triumph
3,TVS Apache RTR 180cc,65000.0,Bangalore,16329.0,First Owner,4.0,180.0,TVS
4,Yamaha FZ S V 2.0 150cc-Ltd. Edition,80000.0,Bangalore,10000.0,First Owner,3.0,150.0,Yamaha
...,...,...,...,...,...,...,...,...
32643,Hero Passion Pro 100cc,39000.0,Delhi,22000.0,First Owner,4.0,100.0,Hero
32644,TVS Apache RTR 180cc,30000.0,Karnal,6639.0,First Owner,9.0,180.0,TVS
32645,Bajaj Avenger Street 220,60000.0,Delhi,20373.0,First Owner,6.0,220.0,Bajaj
32646,Hero Super Splendor 125cc,15600.0,Jaipur,84186.0,First Owner,16.0,125.0,Hero
32647,Bajaj Pulsar 150cc,22000.0,Pune,60857.0,First Owner,13.0,150.0,Bajaj

In [123]:
df.head()

,bike_name,price,city,kms_driven,owner,age,power,brand
0,TVS Star City Plus Dual Tone 110cc,35000.0,Ahmedabad,17654.0,First Owner,3.0,110.0,TVS
1,Royal Enfield Classic 350cc,119900.0,Delhi,11000.0,First Owner,4.0,350.0,Royal Enfield
2,Triumph Daytona 675R,600000.0,Delhi,110.0,First Owner,8.0,675.0,Triumph
3,TVS Apache RTR 180cc,65000.0,Bangalore,16329.0,First Owner,4.0,180.0,TVS
4,Yamaha FZ S V 2.0 150cc-Ltd. Edition,80000.0,Bangalore,10000.0,First Owner,3.0,150.0,Yamaha

In [124]:
df.isnull().sum()

bike_name     0
price         0
city          0
kms_driven    0
owner         0
age           0
power         0
brand         0
dtype: int64

In [125]:
df.dtypes

bike_name      object
price         float64
city           object
kms_driven    float64
owner          object
age           float64
power         float64
brand          object
dtype: object

In [126]:
df.shape

(32648, 8)

In [127]:
df.duplicated().sum()

25324

In [128]:
df.drop_duplicates(inplace=True)

In [129]:
df.duplicated().sum()

0

In [130]:
df.shape

(7324, 8)

In [131]:
cat_col = df.select_dtypes(include='O')
cat_col.head()

                              bike_name       city        owner          brand
0    TVS Star City Plus Dual Tone 110cc  Ahmedabad  First Owner            TVS
1           Royal Enfield Classic 350cc      Delhi  First Owner  Royal Enfield
2                  Triumph Daytona 675R      Delhi  First Owner        Triumph
3                  TVS Apache RTR 180cc  Bangalore  First Owner            TVS
4  Yamaha FZ S V 2.0 150cc-Ltd. Edition  Bangalore  First Owner         Yamaha

In [132]:
cat_col.shape

(7324, 4)

In [133]:
cat_col['bike_name'].nunique()

471

In [134]:
cat_col = cat_col.drop(['city','bike_name'],axis=1)
cat_col

            owner            brand
0     First Owner              TVS
1     First Owner    Royal Enfield
2     First Owner          Triumph
3     First Owner              TVS
4     First Owner           Yamaha
...           ...              ...
9362  First Owner             Hero
9369  First Owner            Bajaj
9370  First Owner  Harley-Davidson
9371  First Owner            Bajaj
9372  First Owner            Bajaj

[7324 rows x 2 columns]

In [135]:
cat_col['owner'].value_counts()

owner
First Owner             6642
Second Owner             588
Third Owner               84
Fourth Owner Or More      10
Name: count, dtype: int64

In [136]:
dt = {"First Owner":1,"Second Owner":2,"Third Owner":3,"Fourth Owner Or More":4}
dt

{'First Owner': 1,
 'Second Owner': 2,
 'Third Owner': 3,
 'Fourth Owner Or More': 4}

In [137]:
cat_col['owner'] = cat_col['owner'].map(dt)

In [138]:
cat_col['brand'].nunique()

23

In [139]:
unique_list = list(cat_col['brand'].unique())
unique_list

['TVS',
 'Royal Enfield',
 'Triumph',
 'Yamaha',
 'Honda',
 'Hero',
 'Bajaj',
 'Suzuki',
 'Benelli',
 'KTM',
 'Mahindra',
 'Kawasaki',
 'Ducati',
 'Hyosung',
 'Harley-Davidson',
 'Jawa',
 'BMW',
 'Indian',
 'Rajdoot',
 'LML',
 'Yezdi',
 'MV',
 'Ideal']

In [140]:
cat_col['brand'].unique()

array(['TVS', 'Royal Enfield', 'Triumph', 'Yamaha', 'Honda', 'Hero',
       'Bajaj', 'Suzuki', 'Benelli', 'KTM', 'Mahindra', 'Kawasaki',
       'Ducati', 'Hyosung', 'Harley-Davidson', 'Jawa', 'BMW', 'Indian',
       'Rajdoot', 'LML', 'Yezdi', 'MV', 'Ideal'], dtype=object)

In [141]:
n =1 
dt2 = {}
for i in unique_list:
    dt2[i]=n
    n+=1
dt2

{'TVS': 1,
 'Royal Enfield': 2,
 'Triumph': 3,
 'Yamaha': 4,
 'Honda': 5,
 'Hero': 6,
 'Bajaj': 7,
 'Suzuki': 8,
 'Benelli': 9,
 'KTM': 10,
 'Mahindra': 11,
 'Kawasaki': 12,
 'Ducati': 13,
 'Hyosung': 14,
 'Harley-Davidson': 15,
 'Jawa': 16,
 'BMW': 17,
 'Indian': 18,
 'Rajdoot': 19,
 'LML': 20,
 'Yezdi': 21,
 'MV': 22,
 'Ideal': 23}

In [142]:
cat_col['brand'] = cat_col['brand'].map(dt2)

In [143]:
cat_col

      owner  brand
0         1      1
1         1      2
2         1      3
3         1      1
4         1      4
...     ...    ...
9362      1      6
9369      1      7
9370      1     15
9371      1      7
9372      1      7

[7324 rows x 2 columns]

In [144]:
num_col = df.select_dtypes(exclude='O')
num_col

         price  kms_driven  age  power
0      35000.0     17654.0  3.0  110.0
1     119900.0     11000.0  4.0  350.0
2     600000.0       110.0  8.0  675.0
3      65000.0     16329.0  4.0  180.0
4      80000.0     10000.0  3.0  150.0
...        ...         ...  ...    ...
9362   25000.0     48587.0  8.0  150.0
9369   35000.0     60000.0  9.0  220.0
9370  450000.0      3430.0  4.0  750.0
9371  139000.0     21300.0  4.0  400.0
9372   80000.0      7127.0  5.0  220.0

[7324 rows x 4 columns]

In [145]:
df2 = pd.concat([cat_col,num_col],axis=1)
df2.head(2)

   owner  brand     price  kms_driven  age  power
0      1      1   35000.0     17654.0  3.0  110.0
1      1      2  119900.0     11000.0  4.0  350.0

In [146]:
df2.isnull().sum()

owner         0
brand         0
price         0
kms_driven    0
age           0
power         0
dtype: int64

In [147]:
x = df2.drop(['price'],axis=1) #dependent variable

In [148]:
y = df2[['price']]  #independent variable

In [149]:
# train test split
from sklearn.model_selection import train_test_split

In [150]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2)

In [151]:
x_test

      owner  brand  kms_driven  age  power
2169      1      4     31003.0  7.0  150.0
1158      1      2      5000.0  7.0  350.0
2722      1      7      6777.0  5.0  220.0
3772      1      7      3600.0  5.0  150.0
1810      1      8      4800.0  3.0  150.0
...     ...    ...         ...  ...    ...
3170      1     10     26400.0  8.0  390.0
7432      2      5     43000.0  9.0  125.0
4037      1      5      8972.0  2.0  125.0
3697      1      2      8942.0  7.0  350.0
4654      1      7     26329.0  5.0  220.0

[1465 rows x 5 columns]

In [152]:
# model training
from sklearn.linear_model import LinearRegression

In [153]:
lr = LinearRegression()

In [154]:
lr.fit(x_train,y_train)

LinearRegression()

In [155]:
# model evaluation
lr.score(x_train,y_train)

0.7248621208627499

In [156]:
lr.score(x_test,y_test)

0.7021190207794359

In [157]:
prediction = lr.predict(x_test)

In [158]:
y_test['prediction_price'] = prediction

In [159]:
y_test

         price  prediction_price
2169   40000.0      23621.428663
1158   85700.0     126846.592803
2722   57000.0     101087.416487
3772   67000.0      59799.756331
1810   74000.0      75502.258575
...        ...               ...
3170  120000.0     216842.686979
7432   14500.0       4918.578041
4037   51000.0      36859.988942
3697  100000.0     126491.517947
4654   52000.0      99326.274027

[1465 rows x 2 columns]

In [160]:
y_test['difference'] = y_test['price']-y_test['prediction_price']

In [161]:
y_test

         price  prediction_price    difference
2169   40000.0      23621.428663  16378.571337
1158   85700.0     126846.592803 -41146.592803
2722   57000.0     101087.416487 -44087.416487
3772   67000.0      59799.756331   7200.243669
1810   74000.0      75502.258575  -1502.258575
...        ...               ...           ...
3170  120000.0     216842.686979 -96842.686979
7432   14500.0       4918.578041   9581.421959
4037   51000.0      36859.988942  14140.011058
3697  100000.0     126491.517947 -26491.517947
4654   52000.0      99326.274027 -47326.274027

[1465 rows x 3 columns]

In [162]:
# mse, mae, rmse

In [164]:
from sklearn.metrics import mean_squared_error,mean_absolute_error

In [168]:
mean_squared_error(y_test['price'],y_test['prediction_price'])#should be lower accuray score

4497086934.753693

In [169]:
mean_absolute_error(y_test['price'],y_test['prediction_price'])#should be low

35043.614063213055

In [170]:
import numpy as np

In [173]:
mse = mean_squared_error(y_test['price'],y_test['prediction_price'])

In [176]:
mse #mean square error

4497086934.753693

In [177]:
np.sqrt(mse) #root mean square

67060.32310355872

In [178]:
lr.score(x_train,y_train)

0.7248621208627499

In [179]:
from sklearn.metrics import r2_score

In [180]:
r2_score(y_test['price'],y_test['prediction_price'])

0.7021190207794359

In [181]:
x_test.shape

(1465, 5)

In [182]:
loss = (1-0.7073023549018256)*(1465-1)/(1465-5-1)
1-loss

0.7062992786677673

In [183]:
import joblib,pickle

In [184]:
ls = ['aditya.jiet@gmail.com',"hello@123456"]

In [185]:
joblib.dump(ls,'email_id.lb')

['email_id.lb']